<div class="container" style="page-break-inside: avoid;">
  <div class="card">
    <div class="card-header">
      EDUCATION
    </div>
    <div class="card-body">
      <table class="table table-borderless" *ngFor="let record of educationData.records">
        <tr>
            <td>{{record.award}}  -   {{record.institute}}</td>
        </tr>
        <tr>
          <td>{{record.programme}}</td>
        </tr>
        <tr>
          <td><i>{{record.startDate}} - {{record.endDate}}</i></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<br>