<div class="container" style="page-break-inside: avoid; margin-top: 50px">
  <div class="row">
    <div *ngIf="headData.isImageEnabled" class="col-xs-12 col-sm-4 text-center">
      <img src="{{imageUrl}}" alt="Lorem Ipsom" class="img-profile rounded-circle" style="max-width:180px;" width="100%">
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="text-center">
        <h2 class="name">
          <b>{{headData.name}}</b>
        </h2>
        <h6 class="title-center">
          <span *ngFor="let suffix of headData.title; let i = index">
            {{suffix}}<span *ngIf="(headData.title.length - 1) !== i">,&nbsp;</span>
          </span>
        </h6>
        <hr>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4" *ngFor="let contact of headData.contactList">
          {{contact.name}}:
          <a href={{contact.link}}>{{contact.value}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>