

<div class="container" style="page-break-inside: avoid;">
    <div class="card">
      <div class="card-header">
        EXPERIENCE
      </div>
      <div class="card-body">
        <table class="table table-borderless" *ngFor="let record of experienceData.records">
          <tr>
            <td>
              <b>{{record.organisation}}</b>
            </td>
          </tr>
          <tr>
            <td  *ngFor="let position of record.positions">{{position.designation}} <i>{{position.startDate}} - {{position.endDate}}</i></td>
          </tr>
          <tr>
            <td  *ngFor="let position of record.positions">{{position.description}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <br>