body{
    font-family: 'Lato', sans-serif;
}
.header { display: flex; margin-bottom: 20px;}
.main-title {
    font-size: 26px;
    text-transform: uppercase;
    border-bottom: 3px solid #17a2b8;
    margin: 0 auto;
}
.name { font-size: 20px;}
table th { margin: 0 !important; padding: 0 !important;}
table td { padding: 5px !important;}
table th h3 {
    font-size: 16px;
    text-transform: uppercase;
    background-color: #268492;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
}