<div class="container" style="page-break-inside: avoid;">
  <div class="card">
    <div class="card-header">
      EXPERIENCE
    </div>
    <div class="card-body">
      <div class="row" *ngFor="let record of experienceData.records; let i = index">
        <div class="col-12">
          <b>{{record.organisation}}</b>
        </div>
        <div class="col-12 col-sm-6" *ngFor="let position of record.positions">
          • {{position.designation}} <br/> {{position.startDate}} - {{position.endDate}}<br/> {{position.description}} <br/><br/>
        </div>
        <div *ngIf="(experienceData.records.length - 1) !== i" class="col-12">
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>
<br>