<div class="container" style="page-break-inside: avoid;">
  <div class="card">
    <div class="card-header">
      EXTRA CURRICULAR ACTIVITIES
    </div>
    <div class="card-body">
      <table class="table table-borderless">
        <tr>
          <td>{{extraData.extra1}}</td>
        </tr>
        <tr>
          <td>{{extraData.extra2}}</td>
        </tr>
        <tr>
          <td>{{extraData.extra3}}</td>
        </tr>
        <tr>
          <td>{{extraData.extra4}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<br>