<div class="container" style="page-break-inside: avoid;">
  <div class="card">
    <div class="card-header">
      TECHNOLOGIES
    </div>
    <div class="card-body">
      <table class="table table-borderless">
        <tr>
          <td>
            <b>Frontend</b>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>TypeScript/JavaScript
                <ul>
                  <li>Bootstap</li>
                  <li>Angular
                    <ul>
                      <li>Ionic</li>
                      <li>Prime NG</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <b>Backend</b>
            <ul>
              <li>Java
                <ul>
                  <li>Spring
                    <ul>
                      <li>Spring-boot</li>
                      <li>Rest</li>
                      <li>API</li>
                      <li>MVC</li>
                      <li>Data</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <b>Hybride</b>
            <ul>
              <li>JHipster
                <ul>
                  <li>JDL</li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <b>Architechture</b>
            <ul>
              <li>Microsevices</li>
              <li>Client Server</li>
              <li> API
                <ul>
                  <li>Restfull</li>
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <b>Dev Ops</b>
            <ul>
              <li>Continuous Integration (CI)</li>
              <li>Continuous Delivery (CD)</li>
              <li>Kubernetes</li>
              <li>travis</li>
              <li>Jenkins</li>
            </ul>
          </td>
          <td>
            <b>Cloud Computing</b>
            <ul>
              <li>GCP
                <ul>
                  <li>VM</li>
                  <li>Cloud Function</li>
                  <li>Fire Store</li>
                </ul>
              </li>
              <li>AWS
                <ul>
                  <li>EC2</li>
                  <li>Lamda</li>
                  <li>S3</li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<br>