<app-head *ngIf="data.headData.isEnabled" [headData]="data.headData"></app-head>
<app-interested *ngIf="data.interestedData.isEnabled" [interestedData]="data.interestedData"></app-interested>
<app-tech-history *ngIf="data.techHistoryData.isEnabled" [techHistoryData]="data.techHistoryData"></app-tech-history>
<app-summary *ngIf="data.summaryData.isEnabled" [summaryData]="data.summaryData"></app-summary>
<!-- <app-technologies></app-technologies> -->
<app-projects *ngIf="data.projectsData.isEnabled" [projectsData]="data.projectsData"></app-projects>
<app-experience *ngIf="data.experienceData.isEnabled" [experienceData]="data.experienceData"></app-experience>
<app-education *ngIf="data.educationData.isEnabled" [educationData]="data.educationData"></app-education>
<app-certification *ngIf="data.certificationData.isEnabled" [certificationData]="data.certificationData"></app-certification>
<app-publication *ngIf="data.publicationData.isEnabled" [publicationData]="data.publicationData"></app-publication>
<app-extra *ngIf="data.extraData.isEnabled" [extraData]="data.extraData"></app-extra>
<app-non-related *ngIf="data.nonRelatedData.isEnabled" [nonRelatedData]="data.nonRelatedData"></app-non-related>